<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>

        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Films</h2>

        <a href="" >Crea film</a>

        <table>
            <tr>
                <th>Id</th>
                <th>Titolo</th>
                <th>Genere</th>
                <th>Nazionalita</th>
                <th>Regista</th>
                <th>Anno di Produzione</th>
                <th>azioni</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Maria Anders</td>
                <td>Storico</td>
                <td>Germany</td>
                <td>Leone</td>
                <td>2010</td>
                <td><a href="" >Modifica</a> | <a href="" >Elimina</a></td>

            </tr>
        </table>

    </body>
</html>
